[submodule "lib/jquery"]
	path = lib/jquery
	url = git://github.com/jquery/jquery.git
[submodule "lib/jqAnimateRotateScale"]
	path = lib/jqAnimateRotateScale
	url = git://github.com/zachstronaut/jquery-animate-css-rotate-scale.git
